<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% block includes %}{% endblock %} 
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>