{% extends "templates/base.twig" %}

    {% block title %}MVCASS{% endblock %}

    {% block includes %}
    <script src="assets/scripts/login.js"></script>
    <script src="assets/scripts/signup.js"></script>
    <link rel="stylesheet" href="/assets/styles/login.css">
    {% endblock %}


{% block body %}
    <div id="titlebar">
        <p>MVCASS</p>
    </div>
    <div id="div_login">
        <div class="msg">
            <p>Login</p>
        </div>
        <div class="msg" id="loginmsg"></div>
        <div class="field">
            <input type="text" id="lemail" name="lemail" placeholder="Email" />
        </div>
        <div class="field">
            <input type="password" id="lpassword" name="lpassword" placeholder="Password" />
        </div>
        <div class="field">
            <input type="button" class="general-button" value="Submit" name="login-button" id="login-button"/>
        </div>
    </div>
    <div id="div_signup">
        <div class="msg">
            <p>Signup</p>
        </div>
        <div id="signupmsg"></div>
        <div class="field">
            <label for="susername">Username</label><br/>
            <input type="text" id="susername" name="susername" />
        </div>
        <div class="field">
            <label for="semail">Email</label><br/>
            <input type="text" id="semail" name="semail" />
        </div>
        <div class="field">
            <label for="spassword">Password</label><br/>
            <input type="password" id="spassword" name="spassword"/>
        </div>
        <div>
            <input type="button" class="general-button" value="Submit" name="signup-button" id="signup-button" />
        </div>
    </div>
{% endblock %}
  