<div id="navbar">
  <span>
    <a href="/home/latest">Latest</a>
  </span>
  <span>
    <a href="/home/top">Top</a>
  </span>
  <span>
    <a href="/home/trending">Trending</a>
  </span>
  <span>
    <a href="/profile">Profile</a>
  </span>
  <span>
    <a href="/logout">Logout</a>
  </span>
</div>
